*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.item1{
    background-color: red;
    height: 100px;
    width: 100%;
}
.row{
    display: flex;
    gap: 10px;
    width: 100%;
}
.item2{
    flex: 2;
    background-color: aquamarine;
    height: 200px;
}
.item3{
    flex: 1;
    background-color: blueviolet;
    height: 200px;
}
.item4{
    background-color: cadetblue;
    height: 100px;
    width: 100%;
}